.main{
    height: calc(100dvh - 57px);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "content";
}
.header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 20px;
    h1{
        font-family: 'Gilroy-Medium';
        color: #5089d3;
        font-size: 2.2rem;
    }
    button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px 20px;
        font-family: 'Gilroy-Medium';
        color: white;
        background-color: rgba(71, 171, 93,0.7);
        border-radius: 5px;
        gap:2px;
    }
}
.content{
    grid-area: content;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr;
}
.auj{
    grid-column: 2/9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bilanO{
    grid-column: 2/9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .dt-input,.mf-input{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: auto auto;
        row-gap: 5px;
        label{
            font-family: 'Gilroy-Medium';
            color: #356eb8;
            grid-column: 2/7;
            grid-row: 1;
            font-size: 19px;
        }
    }
    .dt-input{
        
        input{
            grid-column: 2/6;
            grid-row: 2;
            outline: none;
            box-shadow: 0px 0px 10px 1px #a3bbda;
            padding-left: 5px;
            border-radius: 3px;
        }
    }
    .mf-input{
        textarea{
            grid-column: 2/8;
            grid-row: 2;
            height: 70px;
            resize: none;
            outline: none;
            box-shadow: 0px 0px 10px 1px #a3bbda;
            padding-left: 5px;
            border-radius: 5px;
        }
    }
    .temp{
        display: grid;
        grid-template-columns: repeat(10,1fr);
    }
    .cadre{
        grid-column: 9/11;
        display: flex;
        width: 180px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        padding: 10px 0;
        box-shadow: 0px 0px 10px 1px #a3bbda;

        .text{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            
            img{
                width: 22px;
                height: 22px;
            }
        }
    }
    .cadre img{
        width: 70px;
        height: 70px;
    }
}
.bilanN{
    grid-column: 2/9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup{
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}