<div class="main">
    <div class="title">
      <h1>Ajouter une consultation</h1>
    </div>
    <div class="content">
      <div class="dt-input">
        <label for="date">Date de consultation</label>
        <input type="date" [(ngModel)]="consultation.date" placeholder="Date de consultation" />
      </div>
      <div class="mf-input">
        <label for="motif">Motif de consultation</label>
        <textarea [(ngModel)]="consultation.motif" placeholder="Motif de consultation"></textarea>
      </div>
    </div>
    <div class="footer">
      <button (click)="addConsultation()">Ajouter</button>
    </div>
  </div>
  