<div *ngIf="isLoggedIn" class="navbar">
  <a class="logo-container" href="">
    <img class="logo" src="assets/images/logo_navbar.svg" alt="logo" />
  </a>
  <div class="navbar-actions">
    <!-- Logout Button -->
    <a class="navbar-item" href="" (click)="onLogout()">
      <img src="assets/images/logout.svg" alt="Logout"/>
    </a>

    <!-- Notification Button -->
    <a class="navbar-item" href="">
      <img src="assets/images/notification.svg" alt="Notifications"/>
    </a>

    <!-- Profile Button -->
    <a class="navbar-item" href="">
      <img src="assets/images/profile-circle.svg" alt="Profile"/>
    </a>
  </div>
</div>
