.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; // 5 * 0.25rem (tailwind 5)
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Shadow equivalent
    margin-bottom: 2.5rem; // 10 * 0.25rem (tailwind 10)
  
    .logo-container {
      margin-left: 2rem; // 8 * 0.25rem (tailwind 8)
      padding-bottom: 0.5rem; // padding-bottom for alignment
    }
  
    .logo {
      height: auto;
      width: auto;
    }
  
    .navbar-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 2rem; // 8 * 0.25rem (tailwind 8)
    }
  
    .navbar-item {
      padding-left: 0.5rem; // 2 * 0.25rem (tailwind 2)
      
      @media (min-width: 768px) { // Responsive breakpoint for larger devices (tailwind md)
        padding-left: 1rem; // 4 * 0.25rem (tailwind 4)
      }
  
      img {
        width: auto;
        height: auto;
      }
    }
  }
  