<div class="main">
    <div class="add">
        <h1>Consultations</h1>
        <button routerLink="/consultations/add">
            <span>Add Consultation</span>
            <img src="../../../assets/images/addconsultation.svg" alt="addconsultation" />
        </button>
    </div>
    <div class="clist">
        <div class="listc">
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
            <div class="citem">
                <div class="consultation">
                    <span>consultation du 12/12/2020</span>
                </div>
                <div class="bilan">
                    <span>Bilan</span>
                </div>
                <div class="ordonance">
                    <span>Ordonance</span>
                </div>
                <div class="params">
                    <button>
                        <img src="../../../assets/images/params.svg" alt="view" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
