.main{
    height: calc(100dvh - 97px);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "add"
    "clist";
    gap: 7.2px;
}
.add{
    grid-area: add;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 30px;
    padding-right: 50px;

    h1{
        font-family: 'Gilroy-Medium';
        color: #5089d3;
        font-size: 2.2rem;
    }
    button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px 10px;
        font-family: 'Gilroy-Medium';
        color: white;
        background-color: rgba(71, 171, 93,0.7);
        border-radius: 5px;
        gap:2px;
    }
}
.clist{
    grid-area: clist;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}
.listc{
    grid-column: 2/10;
    height: calc((100dvh - 57px - 60px)*0.9);
    overflow-y: auto;
}
.item{
    display: flex;
    flex-direction: column;
}
.citem{
    display: grid;
    grid-template-columns: 350px 170px 200px 170px 1fr;
    grid-template-rows: auto;
    gap: 4px;
    padding: 2px 4px 2px 4px;

    .consultation{
        grid-column: 1;
        padding: 8px 0 8px 15px;
        background-color: rgb(223, 237, 255);
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        cursor: pointer;
    }
    .bilanB{
        grid-column: 2;
        padding: 8px 0 8px 15px;
        background-color: rgb(255, 228, 228);
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        cursor: pointer;
    }
    .bilanR{
        grid-column: 3;
        padding: 8px 0 8px 15px;
        background-color: rgb(255, 228, 228);
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        cursor: pointer;
    }
    .ordonance{
        grid-column: 4;
        padding: 8px 0 8px 15px;
        background-color: rgb(214, 255, 210);
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        cursor: pointer;
    }
    .params{
        grid-column: 5;
        padding: 8px 15px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-radius: 5px;
    }
}
.motif{
    transition: max-height 0.3s ease-in-out;
    padding: 2px 25px 2px 19px;
    span{
        font-family: 'Gilroy-Medium';
        color: #5089d3;
        font-size: 1.05rem;
    }
    p{
        font-family: 'Gilroy-Medium';
        color: #000000;
        font-size: 0.95rem;
        max-height: 70px;
        overflow-y: scroll;
    }
}
.popup{
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
