<app-navbar style="margin-bottom: 0;"></app-navbar>
<div class="main">
  <div class="add">
    <h1>Consultations</h1>
    <button (click)="showPopUp()">
      <span>Add Consultation</span>
      <img src="../../../assets/images/addconsultation.svg" alt="addconsultation" />
    </button>
  </div>

  <div class="clist">
    <div class="listc">
      <div class="item" *ngFor="let consultation of consultations">
        <div class="citem">
          <div class="consultation" (click)="toggleMotif()">
            <span>Consultation du {{ consultation.date_consultation | date:'dd/MM/yyyy' }}</span>
          </div>
          <div class="bilanB" [routerLink]="['/users', 'medecin', 'consultations', 'bilan-biologique', consultation.id]">
            <span>Bilan Biologique</span>
          </div>
          <div class="bilanR" [routerLink]="['/users', 'medecin', 'consultations', 'bilan-radiologique', consultation.id]">
            <span>Bilan Radiologique</span>
          </div>
          <div class="ordonance">
            <span>Ordonance</span>
          </div>
          <div class="params">
            <button>
              <img src="../../../assets/images/params.svg" alt="view" />
            </button>
          </div>
        </div>
        <div class="motif" *ngIf="showMotif">
          <span>Motif de consultation</span>
          <p>{{ consultation.motif }}</p>
          <span>Résumé</span>
          <p>{{ consultation.resume || 'Aucun résumé disponible' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup" *ngIf="showAddConsultation" (click)="closePopup($event)">
  <app-add-consultation (click)="preventClose($event)" (consultationAdded)="handleConsultationAdded()"></app-add-consultation>
</div>
