<app-navbar style="margin-bottom: 0;"></app-navbar>
<div class="general" >
  <div class="title">
    <h1>Patient:</h1>
  </div>
  <div class="container">
    <div class="info">
      <label for="nss">NSS</label>
      <input
        id="nss"
        type="text"
        name="nss"
        [value]="dpiData.nss"
        placeholder="NSS"
        readonly
      />
    </div>
    <div class="ligne">
      <div class="info">
        <label for="nom">Nom</label>
        <input
          type="text"
          name="nom"
          [value]="patientData.Patient?.last_name || 'Nom non disponible'"
          placeholder="Nom"
          readonly
        />
      </div>
      <div class="info">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          name="prenom"
          [value]="patientData.Patient?.first_name || 'Prénom non disponible'"
          placeholder="Prénom"
          readonly
        />
      </div>
    </div>
    <div class="ligne">
      <div class="info">
        <label for="datedenaissance">Date de naissance</label>
        <input
          type="text"
          name="datedenaissance"
          [value]="dpiData.date_naissance"
          placeholder="Date de naissance"
          readonly
        />
      </div>
      <div class="info">
        <label for="adresse">Adresse</label>
        <input
          type="text"
          name="adresse"
          [value]="dpiData.adresse"
          placeholder="Adresse"
          readonly
        />
      </div>
    </div>
    <div class="ligne">
      <div class="info">
        <label for="telephone">Téléphone</label>
        <input
          type="text"
          name="telephone"
          [value]="dpiData.telephone"
          placeholder="Téléphone"
          readonly
        />
      </div>
      <div class="info">
        <label for="mutuelle">Mutuelle</label>
        <input
          type="text"
          name="mutuelle"
          [value]="dpiData.mutuelle"
          placeholder="Mutuelle"
          readonly
        />
      </div>
    </div>
    <div class="ligne">
      <div class="info">
        <label for="personne">Personne à contacter</label>
        <input
          type="text"
          name="personne"
          [value]="dpiData.personne_a_contacter"
          placeholder="Personne à contacter"
          readonly
        />
      </div>
      <div class="info">
        <label for="medtrt">Médecin traitant</label>
        <input
          type="text"
          name="medtrt"
          [value]="patientData.Medecin.last_name + ' ' + patientData.Medecin.first_name || 'Médecin traitant non disponible'"
          placeholder="Médecin traitant"
          readonly
        />
      </div>
    </div>
  </div>
  <div class="consult">
    <button>
      <span>Consulter les soins</span>
    </button>
    <button (click)="goToExamen()">
      <span>Consulter Graphiques</span>
    </button>
    <button (click)="navigateTo('users/medecin/consultations')">
      <span>Consultations</span>
      <img src="../../../assets/images/consultation.svg" alt="consultation" />
    </button>
  </div>
</div>
<!-- <div *ngIf="!dpiData">
  <p>Chargement des données...</p>
</div> -->

